<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eCommerce</title>
    <!-- Importamos Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.3/qs.min.js"
      integrity="sha512-juaCj8zi594KHQqb92foyp87mCSriYjw3BcTHaXsAn4pEB1YWh+z+XQScMxIxzsjfM4BeVFV3Ij113lIjWiC2w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    ></script>
</head>
<body>

    <div class="container mt-3 jumbotron bg-danger text-center">
        <h3 class="text-white"><%= textoError %></h3>
        <br>
        <h4 class="text-warning"><b><%= descripError %></b></h4>
        <br>
        <a class="btn btn-dark" href="/">Volver</a>
    </div>

</body>
</html>